@import "tailwindcss";
@plugin "daisyui";

/* #root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding-top: 6rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.welcome_title{
  color: #646cff;
}

.space{
  padding: 20px;
}

.first-label,
.first-input {
  font-size: 20px;
}

.nav{
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.custom-nav{
  background-color: #646cff;
  height: 80px;
}

.new-custom-nav{
  background-color: rgb(181, 112, 202);
  height: 100px;
}

.custom-nav ul, .new-custom-nav ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
li a:hover {
  color: rgb(36, 36, 36);
}

#custom-header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box{
  padding-bottom: 20px;
}

.card{
  width: 18rem;
}

.padding{
  padding-top: 70px;
}

.link_detail{
  color: #646cff;
}

 */

.link_detail:hover {
  color: grey;
}
